.description{
    width: 300px;
    padding: 50px 50px;
    background-color: beige;
}

.avatar {
width: 300px;
border-radius: 50%;
}

.name{
font-size: 30px;

}

.tag{

font-size: 19px;
}
.location{
font-size: 22px;
}

.stats{
display: flex;
gap: 12px;
list-style: none;
padding: 0;
}

.label{
display: block;
}
.quantity{
display: block;
}